# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.dart_tool/
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub
.packages
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Specific to apps
apps/*/build/
apps/*/.dart_tool/
apps/*/.pub-cache/
apps/*/.pub/
apps/*/.packages
apps/*/.flutter-plugins
apps/*/.flutter-plugins-dependencies

# Specific to packages
packages/*/build/
packages/*/.dart_tool/
packages/*/.pub-cache/
packages/*/.pub/
packages/*/.packages
